<!--Landing Page-->
<% provide(:title, 'Wed-E') %>
</br><!--PROVISIONAL!!!-->
<div class="row">
	<div class="large-2 push-10 columns login-top"><a href="#login"><img class="logo" src="/assets/login.png"/></a></div>
	<!--Video-->
	<div class = "large-8 large-centered columns">
		<div class="flex-video " style="250px">
		  	<iframe width="500" height="250" src="http://www.youtube.com/embed/2Bh9UfjSlsQ?feature=player_detailpage" frameborder="0" class="radius"	allowfullscreen></iframe>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class = "large-12 columns">
		<div class = " large-6 large-centered columns ">
			<a href="#" class="large button radius expand" data-reveal-id="registroUsuario">Sing Up!</a>
		</div>
	</div>

	<!--Provisional para que con CSS posicionar el boton siempre pegado alextremo inferior derecho-->
	<div class = "large-3 small-6 columns right">	
			<a href="#" class="small  button success radius supplier-btn" >Wanna be Wed-e Supplier?</a>
	</div>

	<br><br><br><br><br>
	<div class = "large-8 large-centered columns logoabajo"></div>
</div>
