<% provide(:title, 'Usuario') %>
<nav class="top-bar">
  <ul class="title-area">

    <li class="name">
      <h1><a href="#">Wed-e </a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">Categorías</a>

        <ul class="dropdown">
          <li><label>Boda</label></li>
          <li class="has-dropdown"><a href="#" class="">Cosas de la Boda</a>

            <ul class="dropdown">
              <li><a href="#">Musica</a></li>
              <li><a href="#">Banquetes</a></li>

              <li><a href="#">Arreglos</a></li>
              <li><a href="#">Flores</a></li>
              <li><a href="#">Meseros</a></li>
            </ul>
          </li>
          <li><a href="#">Buscar Proveedores</a></li>
          <li><a href="#">Buscar Mas Categorias</a></li>
          <li class="divider"></li>
          <li><label>Mi Cuenta</label></li>
          <li><a href="#">Mi Presupuesto</a></li>

          
        </ul>
      </li>
      <li class="divider"></li>
      
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <a class="tiny round button" href="#">Salir</a>
      </li>
    </ul>
  </section>
</nav>
<div class="row">    


     <div class="large-3 columns">
      <h3>Perfil<small> Nombre Usuario</small></h3>
      <p><%= link_to image_tag("logo_wed-e.png", alt: "Wed-e" ), "#" %></p>

        <section id="sidebar" >


    <div class= "row">
    </br>
     <div class= "large-12   small-6 columns "></div>

    	</br>
    	<div class= "large-10 large-centered  small-6 columns panel">

    		<div class="progress large-10 success round"><span class="meter" style="width: 85%"></span></div>
    		<div border=1>
    		<h4 class="sub-header"> Dias 12 Horas: 00:01</h4></div>
    		
    	</div>

    	</br>
 
    </div>

  		</section>
        
    </div>


    <!---Feed De Provedores-->
    <div class="large-9 columns">
      
      <div class="row">
      	<div class="large-12 columns panel callout">
      	
          <div class="row">
 
            <div class="large-10 large-centered small-6 columns">
         
 
              <div class="panel radius">
                <h5>Item Name</h5>
                
              </div>
            </div>
 
            <div class="large-10 large-centered small-6 columns">
              
 
              <div class="panel radius">
                <h5>Item Name</h5>
                
              </div>
            </div>
 
            <div class="large-10  large-centered small-10columns">
              
 
              <div class="panel radius">
                <h5>Item Name</h5>
            
              </div>
            </div>
 
            <div class="large-10 large-centered small-6 columns">
              
 
              <div class="panel radius">
                <h5>Item Name</h5>
            
              </div>
            </div>
 
            <div class="large-10  large-centered small-6 columns">
              
 
              <div class="panel radius">
                <h5>Item Name</h5>
      
              </div>
            </div>
 
            <div class="large-10 large-centered small-6 columns">
              
 
              <div class="panel radius">
                <h5 class ="">Item Name</h5>
        
              </div>
            </div>
      
      	</div>
      </div> 
      
     
            
    </div>

  </div>
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">

        </div>
        <div class="large-6 columns">
        
        </div>
      </div>
    </div> 
  </footer>
