<div id="registroUsuario" class="reveal-modal small">

  <form class="custom">
          <fieldset>
            <legend><h3>Datos</h3></legend>

            <div class="row">
              <div class="large-12 columns">
                <label>Nombre:</label>
                <input type="text">
              </div>
            </div>
            	   <div class="row">

             <div class="large-12 columns">
               <div class="row collapse">
                  <label>Email:</label>
                  <div class="small-9 columns">
                    <input type="text">
                  </div>
                  <div class="small-3 columns">
                    <span class="postfix">.com</span>
                  </div>
                </div>
            </div>
                 </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Telefono:</label>
                <input type="text" >
              </div>
              <div class="large-12 columns">
                <label>Direccion:</label>
                <input type="text">
              </div>
           
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Fecha de la Boda:</label>
                <input type= "text" ></input>
              </div>
            </div>

          </fieldset>
        </form>
  <a class="close-reveal-modal">&#215;</a>
</div>